.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules', cursive;
  font-size: 48px;
  color: #0ccac4;
}

table{
  margin: 0 25%;
}

th {
  font-size: 24px;
  color: #0ccac4;
  padding: 0 20px;
}